---
export const prerender = false;

import { Icon } from "astro-icon/components";
import { getHolidays } from "../lib/getHolidays";

const year = Astro.url.searchParams.get('year') || new Date().getFullYear();
const valuesToRender = await getHolidays(year.toString());
---

<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Feriados Brasil</title>
  </head>
  <body class="flex justify-center w-screen h-screen px-5 lg:px-40 overflow-x-hidden overflow-y-auto">
    <div class="flex flex-col justify-center gap-4 w-full">
      <div class="flex items-center justify-around w-full bottom-0 left-0 fixed z-50 bg-zinc-300 border-t border-zinc-400 lg:bg-white lg:relative lg:border-t-0">
        <div class="flex items-center justify-start text-5xl w-20">
          {(year != new Date().getFullYear()) ? <Icon id="prev-page-btn" title="Ano Anterior" name="mdi:chevron-left" class="cursor-pointer"/> : <></>}
        </div>
        <h1 class="font-bold sm:text-xl md:text-2xl lg:text-4xl">Feriados Brasil - {year}</h1>
        <div class="flex items-center justify-end text-5xl w-20">
          <Icon id="next-page-btn" title="Próximo Ano" name="mdi:chevron-right" class="cursor-pointer" />
        </div>
      </div>
      <div class="grid gap-2 grid-cols-1 lg:grid-cols-3 w-full mt-9 pb-20 lg:mt-0 lg:pb-20 px-4 overflow-y-auto">
        {valuesToRender.map((item) => (
          <div class="flex flex-col justify-center items-center px-4 py-2 border border-zinc-500 rounded-md">
            <span class="font-bold">
              {item.data} - {item.diaSemana}
            </span>
            <span class="name">{item.feriado}</span>
          </div>
        ))}
      </div>
    </div>
  </body>
</html>

<style lang="scss">
  * {
    font-family: "Roboto", sans-serif;
  }
</style>

<script>
	const year: number = parseInt(new URLSearchParams(window.location.search).get('year') || new Date().getFullYear().toString())

	let prevPageBtn = document.getElementById("prev-page-btn");
	if(prevPageBtn) {
		prevPageBtn.addEventListener("click", () => {
			window.location.search = `?year=${year-1}`
		})
	}
	let nextPageBtn = document.getElementById("next-page-btn");
	if(nextPageBtn) {
		nextPageBtn.addEventListener("click", () => {
			window.location.search = `?year=${year+1}`
		})
	}
</script>
